cff-version: 1.2.0
title: "camtrapReport"
message: "If you use this software, please cite it as below."
type: software
authors:
  - family-names: "Ebrahimi"
    given-names: "Elham"
    email: "eebrahimi.bio@gmail.com"
  - family-names: "Jansen"
    given-names: "Patrick"
repository-code: "https://github.com/spatialecology/camtrapReport"
url: "https://github.com/spatialecology/camtrapReport"
license: MIT
version: "0.2-16"
date-released: 2026-03-16
doi: 10.5281/zenodo.18405441